.popup__save {
  width: 358px;
  margin-left: auto;
  margin-right: auto;
  height: 50.15px;
  color: white;
  background-color: black;
  line-height: 1.2;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border: 0;
  border-radius: 2px;
  margin-bottom: 36.51px;
  cursor: pointer;
}

.popup__save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: ease 0.3s;
}

@media screen and (max-width: 600px) {
  .popup__save {
    width: 83%;
  }
}
