.header__logo {
  width: 142px;
  height: 33.4px;
  padding-bottom: 40.6px;
  padding-top: 45px;
}


@media screen and (max-width: 600px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding-bottom: 31.6px;
    padding-top: 28px;
  }
}
