.footer__copyright {
  color: #545454;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}


@media screen  and (max-width: 600px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.1;
  }
}
