.popup__exit {
  width: 40.7px;
  height: 40.7px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/exit-button.svg);
  border: 0;
  background-position: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
  outline: none;
}


.popup__exit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__exit {
    margin-left: 280px;
  }
}
