.popup__title {
  line-height: 1.2;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  margin: 34px auto 54px auto;
}

@media screen and (max-width: 600px) {
  .popup__title {
    font-size: 14px;
    margin-bottom: 24px;
  }
}
